/*!
 * ress.css • v1.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */html{box-sizing:border-box;overflow-y:scroll;-webkit-text-size-adjust:100%}*,:after,:before{box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{background-repeat:no-repeat;padding:0;margin:0}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace;overflow-x:auto}pre code{word-wrap:normal;white-space:pre-wrap}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[type=number]{width:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted ButtonText}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select{-moz-appearance:none;-webkit-appearance:none}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}::-webkit-input-placeholder{color:inherit;opacity:.54}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}img{border-style:none}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#fff;text-shadow:none}::selection{background-color:#b3d4fc;color:#fff;text-shadow:none}
body
{
	font-size: 14px;
	line-height: 1.5;
	font-family: "Open Sans", Arial, sans-serif;
	color: rgb(100, 100, 100);
	background: rgb(245, 245, 245);
	padding: 0 2em;
	min-width: 320px;
}

.notification
{
	font-style: italic;
	font-size: 0.8571em;
	color: #27ae60;
}

a, a:link, a:visited
{
	color: inherit;
}

h2
{
	font-size: 3em;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 0.8em;
}

h3 
{
	font-size: 2em;
	font-weight: 300;
	text-transform: uppercase;
}

header, section, footer
{
	padding: 0 1em;
}

.wrapper
{
	margin: 0 auto;
	width: 100%;
	min-width: 320px;
	max-width: 960px;
}
.wrapper:after
{
	content: "";
	display: table;
	clear: both;
}

.fa-times-circle
{
	color: #e74c3c;
}

.fa-check-circle
{
	color: #27ae60;
}

.heart
{
	color: lightpink;
	font-size: 1.5em;
	position: relative;
	top: .20em;
}

/*

	HEADER

*/

header
{
	height: 40vh;
	min-height: 160px;
	font-size: inherit;
	transition: 
				background 250ms ease-in-out,
				color 250ms ease-in-out;
	position: relative;
}

header .wrapper
{
	height: 100%;
	padding-bottom: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

header nav
{

	font-weight: bold;
	font-size: 0.857em;
	width: 100%;
}

header nav ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 
{
	font-size: 4em;
	margin: 0;
	font-weight: lighter;
	pointer-events: none;
	transition: color 250ms ease-in-out;
	width: 100%;
	text-align: center;
	letter-spacing: -0.075em;
}
body.running h1
{
	color: #27ae60;
}

@media only screen and (max-width: 480px)
{
	header
	{
		height: 20vh;
	}
}

/*

	FORM

*/
.disabled, button:disabled
{
	color: rgb(0, 0, 0, .2) !important;
	cursor: not-allowed !important;
	pointer-events: none;
}
@media only screen and (max-width: 480px)
{
	#form #download
	{
		width: 50px;
	}
	#form #download span
	{
		font-size: 0;
	}
	#form #download .fa
	{
		margin-right: 0;
	}
}
.textbox
{
	min-width: 200px;
	height: 50px;
	outline: none;
	flex-grow: 1;
	padding: 0 1em;
}
.button
{
	display: inline-block;
	outline: none;
	border: none;
	border-radius: 2px;
	margin: 0;
	padding: 0.5em 1em;
	background: transparent;
	cursor: pointer;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	text-transform: uppercase;
	font-weight: bold;
}
.button .fa
{
	margin-right: 0.5em;
}
.button.floating
{
	transition: box-shadow 100ms ease-in-out;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, .5);
}
.button.floating:not(:disabled):active {
	box-shadow: 6px 8px 15px rgba(0, 0, 0, .4);
}
.button.green
{
	color: #16A085;
}

/*

	STATUS

*/
#status
{
	padding-top: 4em;
	padding-bottom: 4em;
}

#status h3
{
	margin-bottom: 25px;
}

#status table .icon
{
	vertical-align: top;
	min-height: 25px;
	line-height: 25px;
}

#status table .timestamp
{
	vertical-align: top;
	white-space: nowrap;
	font-size: 1em;
	font-weight: bold;
	line-height: 25px;
	min-height: 25px;
	padding: 0 0.5em;
	display: table-cell;
}

#status table .message-body
{
	width: 100%;
	line-height: 25px;
	min-height: 25px;
}

#status table .progressbar-wrapper
{
	height: 20px;
	vertical-align: middle;
}

#status table .progressbar
{
	width: 100%;
	background: #7f8c8d;
	position: relative;
	height: 25px;
}

#status table .progressbar-inner
{
	height: 25px;
	background: #27ae60;
	transition: all 250ms ease-in-out;
}

#status table .progressbar-text
{
	font-size: 0.875em;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

@media only screen and (max-width: 480px)
{
	#status table .timestamp
	{
		display: none;
	}
}

/*

	DIALOGS

*/
.dialog-wrapper
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .8);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	z-index: 3000;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 600ms, opacity 250ms ease-in-out 500ms;
}	

.dialog-wrapper.active
{
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 250ms ease-in-out;
}

.dialog
{
	border-radius: 2px;
	background: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	
	width: 100%;
	max-width: 700px;
	margin: 0 2em;
	transform: translateY(20%);
	opacity: 0;
	transition: transform .25s ease-in-out 250ms, opacity .25s ease-in-out 250ms;
	color: #34495e;
	z-index: 3010;
}

.dialog-wrapper.active .dialog
{
	opacity: 1;
	transform: translateY(0);
}

.dialog-title
{
	padding: 24px 24px 0 24px;
	font-size: 1.25em;
	font-weight: 600;
}

.dialog-content
{
	padding: 20px 24px 24px 24px;
	line-height: 1.5;
	color: #777;
}

.dialog-content ul 
{
	margin-left: 20px;
}

.dialog-content p:nth-child(n+2)
{
	margin-top: 1em;
}

.dialog-options
{
	padding: 8px;
	height: 52px;
}

#preview
{
	position: relative;
	color: #34495e;
	padding: 4em 0 0 0;
	transition: max-height 500ms ease-in-out,
				padding 500ms ease-in-out;
	max-height: 1000px;
	transition-delay: 0ms;
}

#preview.collapsed
{
	max-height: 0;
	padding: 0;
	transition-delay: 250ms;
}

#preview .wrapper
{
	padding: 2em;
	background: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: opacity 250ms ease-in-out;
	transition-delay: 500ms;
	opacity: 1;
	position: relative;
	z-index: 1;
}
#preview.collapsed .wrapper
{
	transition-delay: 0ms;
	opacity: 0;
}

#preview #head
{
	margin-bottom: 1em;
}

#preview #head h2
{
	pointer-events: none;
}

#preview #meta
{
	margin-top: 1em;
	list-style-type: none;
	display: block;
	position: relative;
}
#preview p
{
	word-wrap: break-word;
}

#preview #meta li
{
	display: inline-block;
	margin: 0.25em 0.25em 0.25em 0;
}

#preview #meta a
{
	color: white;
	background: #27ae60;
	display: inline-block;
	padding: 0.25em 0.5em;
	font-size: 0.875em;
	border-radius: 2px;
	font-weight: bold;
	text-transform: uppercase;
}

#meta .extra
{
	position: absolute;
	border-radius: 2px;
	background: #27ae60;
	padding: 0.25em;
	bottom: calc(100% + 0.5em);
	left: 0;
	max-width: 100%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	transform-origin: 32px calc(100% + 8px);
	transform: scale(0);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	z-index: 1010;
}

#meta .extra:after
{
	top: 100%;
	left: 32px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(39, 174, 96, 0);
	border-top-color: #27ae60;
	border-width: 8px;
	margin-left: -8px;
}

#meta .extra span
{
	color: #27ae60;
	background: white;
	display: inline-block;
	padding: 0.25em 0.5em;
	font-size: 0.875em;
	border-radius: 2px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0.25em;
}

#meta li:hover .extra
{
	transform: scale(1);
}

#form .wrapper
{
	display: flex;
	height: 50px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background: white;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

body.running #form .wrapper
{
	box-shadow: none;
	background: transparent;
}

#form #url
{
	margin: 0;
	flex: 1;
}

#form .button
{
	height: 100%;
	border-radius: 0px;
	position: relative;
	line-height: 50px;
	padding-top: 0;
}

#format-list
{
	display: block;
	position: absolute;
	top:0;
	right: 0;
	background: white;
	z-index: 1;
	text-align: left;
	border-radius: 2px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	cursor: default;
	line-height: 1.5em;
	flex-wrap: nowrap;
	transform-origin: 100% 25px;
	transform: scale(0);
	transition: all 0.25s ease;
	z-index: 2000;
}

#format-list.active
{
	transform: scale(1);
}

#format-list p
{
	padding: 0.875em 3.5em 0.875em 1.75em;
	cursor: pointer;

}
#format-list p:hover
{
	background: rgba(0, 0, 0, 0.1);
}
/*
 *
 * NO JAVASCRIPT
 *
*/
html.no-js .no-js-hide
{
	display: none;
}
html.no-js body
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
html.no-js .no-js-notification
{
	display: block;
}
.no-js-notification
{
	display: none;
}