*, *::before, *::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}
.lengthen {
	height: 2200px;
}
.splash {
	width: 100%;
	height: 768px;
	background-image: url('splash.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
	
}
.splash.sticky {
	position: fixed;
	top: -718px;
}

nav {
	width: 100%;
	height: 50px;
	padding: 7px;
	position: absolute;
	bottom: 0;
	box-shadow: inset 0 -30px 30px -16px rgba(0, 0, 0, .75);
}
nav * {
	float: left;
	line-height: 36px;
	height: 36px;
}

nav h1 {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0 0 0 7px;
	color: white;
}

.menu {
	width: 36px;
	height: 36px;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	position: relative;
	cursor: pointer;
	opacity: .7;
}
.menu:hover, .menu.active {
	opacity: 1;
}

.menu-bar {
	display: block;
	width: 9px;
	height: 2px;
	background-color: white;
	position: absolute;
	transition: all 250ms ease-in-out;
}

.menu-bar:nth-child(odd) {
	left: 9px;
}
.menu-bar:nth-child(even) {
	left: 18px;
}
.menu-bar:nth-child(1), .menu-bar:nth-child(2) {
	top: 12px;
}
.menu-bar:nth-child(3), .menu-bar:nth-child(4) {
	top: 17px;
}
.menu-bar:nth-child(5), .menu-bar:nth-child(6) {
	top: 22px;
}


.menu.active .menu-bar:nth-child(1) {
	transform: rotate(45deg);
	top: 14px;
	left: 11px;
}
.menu.active .menu-bar:nth-child(2) {
	transform: rotate(-45deg);
	top: 14px;
	left: 16px;
}
.menu.active .menu-bar:nth-child(3) {
	left: 0;
	opacity: 0;
}
.menu.active .menu-bar:nth-child(4) {
	left: 27px;
	opacity: 0;
}
.menu.active .menu-bar:nth-child(5) {
	transform: rotate(-45deg);
	top: 20px;
	left: 11px;
}
.menu.active .menu-bar:nth-child(6) {
	transform: rotate(45deg);
	top: 20px;
	left: 16px;
}









.nav-right {
	float: right;
}


.txt {
	display: block;
	padding: 1em 1em 1em 46px;
	border: none;
	outline: none;
	background: rgba(255, 255, 255, .5);
	color: white;
	position: relative;
}
.search.txt::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 14px;
	height: 14px;
	background: red;
}
.txt:hover {}
.txt:focus {}