.btn {
	margin: 0;
	padding: 1.25em 1.5em 1em 1.5em;
	outline: none;
	border: none;
	border-bottom: 2px solid;
	border-radius: 4px;
	background: none;
	background-color: rgb(180, 180, 180);
	border-color: rgb(150, 150, 150);
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.btn span {
	padding-left: .5em;
}
.btn:active {
	position: relative;
	top: 2px;
	border: 0;
}
.btn.primary {
	background-color: rgb(81, 173, 238);
	border-color: rgb(32, 143, 215);
}
.btn.secondary {
	background-color: rgb(82, 98, 111);
	border-color: rgb(63, 73, 83);
}

.txt {
	box-sizing: border-box;
	margin: 0;
	padding: 1.125em;
	outline: none;
	border: 2px solid rgb(180, 180, 180);
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	vertical-align: top;
}
.txt:focus {
	border-color: rgb(81, 173, 238);
}
.txt.block {
	display: block;
	width: 100%;
}

.sel {

}

.group {

}
.group .btn {
	float: right;
}
.group-input {
	overflow: hidden;
	padding-right: 1em;
}